.single_post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    margin:  10px 0;
    border-radius: 15px;
}